<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrap">
      {{ content }}
      </div>
      
    </div>
  
      <form style="padding:3px;text-align:center;" action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=LittlemountainmanBlog', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">

      <p>Enter your email address for more updates:</p>

      <p><input type="text" style="width:140px" name="email"/></p><input type="hidden" value="LittlemountainmanBlog" name="uri"/><input type="hidden" name="loc" value="en_US"/><input type="submit" value="Subscribe" /></form>
    {% include footer.html %}

    </body>
  
  
</html>
